*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: sans-serif;
}
:root{
    --primary-color:#edf2fc;
    --secondery-color:black;
}
.dark-theme{
    --primary-color:#000106;
    --secondery-color:#fff;
}
.container{
    padding: 20px;
    width: 80px;
    background-color:black;
    font-weight: 600;
    color:lavender;
    border-radius: 100px;
    text-align: right;
    border-color: white;
    color:var(--primary-color);
    animation: container 2s ease-in-out;
    color:var(--primary-color);
}
@keyframes container{
    0%{
        transform: translateY(-100%);
    }
}
.dark-mode{
    background-color:white;
    color: white;
}
body{
    width: 100%;
    min-height: 100vh;
    background:var(--secondery-color);
    overflow: hidden;
}
header{
    border-style: solid;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    color:var(--primary-color);
    animation: header 2s ease-in-out; 
    cursor: pointer;
}
span{
    color: rgb(255, 0, 43);
}
.header h1{
    font-size: 1px;
    font-style: oblique;
}
@keyframes header{
    0%{
        transform: translateY(-100%);
    }
}
ul li{  
    display: inline-block;
    margin: 10px 20px;
    margin-bottom: -10px;
    font-size: 600;
    background-color: ;
    font-size: larger;
    padding: 1px 2px;
    border-radius: 5px;
    color: gray;
}
ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
ul li a:hover{
    color: rgb(255, 0, 43);
    transition: .2s;
}
.main{
    width: 100%;
    display:flex
}
.content{
    width: 50%;
    margin-top: 8%;
    margin-left: 5%;
    color: var(--primary-color);
    overflow: hidden;
    animation: content 2s ease-in-out;
}
@keyframes content{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
}
.content h1{
    font-size: 60px;
    font-style: italic;
    margin-bottom: 1%;
    letter-spacing: 8px;
    color: red;
}
.content h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 25px;
    color: var(--primary-color);
}
.content h3{
    font-size: 25px;
    padding: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-color);
}
.content h4{
    padding: 3px;
    margin: 20px 0px 20px;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.content p{
    font-size: 20px;
    margin-bottom: 3%;
    color: var(--primary-color);
}
button{
    padding: 13px 20px;
    background:transparent;
    color: var(--secondery-color);
    background-color: var(--primary-color);
}
button:hover{
    background-color: rgb(0, 255, 0);

}
button2{
    padding: 13px 20px;
    background:transparent;
    color: var(--secondery-color);
    background-color: var(--primary-color);
}
button2:hover{
    background-color: rgb(22, 255, 1);
}
.image{
    width: 10%;
    margin-bottom: 9%;
    
}
img{  
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    width: fit-content;
    animation:pic 2s ease-in-out;
}
@keyframes pic{
    0%{
        transform: translateX(100%);
    }
}
