*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: pristina;
}
:root{
    --primary-color:#edf2fc;
    --secondery-color:black;
}
.dark-theme{
    --primary-color:#000106;
    --secondery-color:#fff;
}
.container{
    padding: 20px;
    width: 80px;
    background-color:black;
    font-weight: 600;
    color:lavender;
    border-radius: 100px;
    text-align: right;
    border-color: white;
    color:var(--primary-color);
    animation: container 2s ease-in-out;
}
@keyframes container{
    0%{
        transform: translateY(-100%);
    }
}
.dark-mode{
    background-color:white;
    color: white;
}
body{
    background:var(--secondery-color);
}
header{
    border-style: solid;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    color:var(--primary-color);
    animation: header 2s ease-in-out; 
    cursor: pointer;
}
span{
    color: rgb(255, 0, 43);
}
.header h1{
    font-size: 1px;
    font-style: oblique;
}
@keyframes header{
    0%{
        transform: translateY(-100%);
    }
}
ul li{  
    display: inline-block;
    margin: 10px 20px;
    margin-bottom: -10px;
    font-size: 600;
    font-size: larger;
    padding: 1px 2px;
    border-radius: 5px;
    color: gray;
}
ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
ul li a:hover{
    color: rgb(255, 0, 43);
    transition: .2s;
}
.main{
    width: 100%;
    display:flex
}
.content{
    width: 50%;
    margin-top: 8%;
    margin-left: 5%;
    color: var(--primary-color);
    overflow: hidden;
    animation: content 2s ease-in-out;
}
@keyframes content{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
}
.content h1{
    font-size: 60px;
    font-style: italic;
    margin-bottom: 1%;
    letter-spacing: 8px;
    color: red;
}
.content h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 25px;
    color: var(--primary-color);
}
.content h3{
    font-size: 25px;
    padding: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-color);
}
.content h4{
    padding: 3px;
    margin: 20px 0px 20px;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.content p{
    font-size: 20px;
    margin-bottom: 3%;
    color: var(--primary-color);
}
button{
    padding: 13px 20px;
    border-radius: 20px;
    background:transparent;
    color: var(--secondery-color);
    background-color: var(--primary-color);
}
button:hover{
    background-color: rgb(43, 255, 0);

}
.image{
    width: 40%;
    margin-bottom: 9%;
    
}
img{  
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    width: fit-content;
    animation:pic 2s ease-in-out;
}
@keyframes pic{
    0%{
        transform: translateX(100%);
    }
}
@media screen and (max-width:1100px){
    .content{
        width: 100%;
        text-align: center;
    }
    .image{
        width: 100%;
        position: absolute;
        bottom:-5%;
        display: flex;
        justify-content: center;

    }
    img{
        width: 20rem;
        border-radius: 50px;
        display: flex;
        justify-content: left;
        }

    }
@media screen and (max-width:516px){
    .content{
        width: 100%;
        text-align: bottom;
        align-content: bottom;
    }
    .content1{
        margin-bottom: 5%;
    }
    .content h3{
        margin-bottom: 5%;
    }
    .content h3{
        margin-bottom: 5%;
    }
    .content p{
        margin-bottom: 5%;
    }
    .image{
        width: 100%;
        position: absolute;
        bottom:-5%;
        display: flex;
        justify-content: center;

    }
    img{
        img{
            width: 30rem;
        }
    }
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: white;
}
.about img{
    height: 36px;
    width: 43px;
}
.about-text{
    width: 600px;
}
.main{
    width: 1110px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: left;
    justify-content: space-between;
}
.about-text h2{
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.about-text h5{
    color: white;
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-left: 15px;
}
.about-text p{
    color: white;
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-left: 30px;
}
.about-text h3{
    color: white;
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-left: 30px;
}
.about-text h4{
    color: white;
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-left: 30px;
}
